@* @model IList<User> *@
@* @model User *@
@model AddUserViewModel


<div class="card">
    <div class="card-header">
        <h3>Yeni Kullanıcı Oluştur</h3>
    </div>
    <div class="card-body">
        <form method="post" asp-controller="Home" asp-action="AddUser">
            <label for="userName">Kullanıcı Adı</label>
            <input id="userName" type="text" asp-for="User.Username" class="form-control" />
            <label for="password">Parola</label>
            <input id="password" type="text" asp-for="User.Password" class="form-control" />
            <label for="secretKey">Gizli Anahtar</label>
            <input id="secretKey" type="text" asp-for="User.SecretKey" class="form-control" />
            <button class="btn btn-outline-success" type="submit">Kullanıcı Oluştur</button>
        </form>
    </div>
</div>
<div style="margin-top:15px;">
    <a class="btn btn-outline-danger" asp-controller="Home" asp-action="AddUser">Kullanıcı Oluşturmak İçin =></a>
    <ul>
        @foreach (var user in Model.Users)
        {
            <li>ID = @user.Id</li>
            <li>Username = @user.Username</li>
            <li>Password = @user.Password</li>
            <li>Secret Key = @user.SecretKey</li>
            <hr />
            <a class="btn btn-outline-danger" asp-controller="Home" asp-action="DeleteUser" asp-route-id="@user.Id"> Kullanıcıyı Pasife Al </a>
            <a class="btn btn-outline-warning" asp-controller="Home" asp-action="UpdateUser" asp-route-id="@user.Id">Kullanıcı Güncelleme</a>
            <hr />

        }
    </ul>
</div>

